/* Color schema */
a:link {
  text-decoration: underline #FFCD00;
  color: #00629B;
}

a:visited {
  text-decoration: underline #FFCD00;
  color: #00629B;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  color: #000;
}

header {
  border-bottom: 0.2rem solid #000;
}

nav {
  text-align: right;
}

nav a {
  font-size: 1.8rem;
  font-weight: bold;
  color: black;
  text-decoration: none;
  /* text-transform: uppercase; */
}

footer {
  margin-top: 3rem;
  padding: 1.2rem 0;
  border-top: 0.2rem solid #000;
  font-size: 1.2rem;
  color: #555;
}

h1 {
  font-size: 2.4rem;
}

h2 {
  font-size: 2rem;
}

article .header {
  font-size: 1.4rem;
  font-style: italic;
  color: #555;
}

.logo a {
  font-weight: bold;
  color: #000;
  text-decoration: none;
}

/* Photo and intro */
#intro {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#photo {
  max-width: 40%;
  max-height: 240px;
  margin: auto 10px;
  order: 1;
}

#intro-text {
  order: 2;
}

body {
  width: 90%;
  margin: 0;
  padding: 0 5%;
}
header {
  margin: 3rem 0;
}
nav {
  margin: 0 auto 1rem;
  text-align: center;
}
footer {
  text-align: center;
}
.logo {
  text-align: center;
  margin: 1rem auto 1rem;
}
.logo a {
  font-size: 2.4rem;
}
nav a {
  display: inline;
  margin: 0 0.6rem;
}

@media (min-width: 640px) {
  body {
    max-width: 960px;
    margin: 0 auto;
    padding: 0;
  }
  header {
    margin: 0 0 1.6rem;
    padding: 1.2rem 0;
  }
  nav {
    margin: 0;
    text-align: right;
  }
  nav a {
    margin: 0 0 0 1.2rem;
    display: inline;
  }
  footer {
    text-align: right;
  }
  .logo {
    margin: 0;
    text-align: left;
  }
  .logo a {
    float: left;
    font-size: 2.2rem;
  }

  #intro {
    flex-direction: row;
    gap: 3em;
  }
  #photo {
    order: 3;
  }
}

/* Add by depct */
.pixiv-embed-title {
  display: none;
}
.pixiv-embed-meta {
  display: none;
}
.pixiv-embed {
  margin : 0 0.5em;
}
.pixiv-gallery{
  display: flex;
  align-items: baseline;
  overflow-x: scroll;
}

span.main-author {
  font-weight: bold;
}

/* flex box for experience */
.exps {
    padding: 0 0.5em;
}
.exp-location {
    font-weight: bold;
}
.exp-logo {
    height: 2.2em;
    margin-right: 0.75em;
}
.flex-row {
    display: flex;
    align-items: center;
}
.pull-right {
    margin-left: auto;
}
.exp-entry {
    margin-bottom: 0.75em;
}
.exp-entry:last-child {
    margin-bottom: 0;
}